<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Enter parameters for quiz</h1>
    <form class="paramsform" action="/" method="post">
      <label for="max1">Maximum for first number:</label>
      <input type="number" name="max1" value="10" min="1" max="20">
      <br>
      <label for="max2">Maximum for second number:</label>
      <input type="number" name="max2" value="10" min="1" max="20">
      <br>
      <label for="maxsum">Maximum of sum:</label>
      <input type="number" name="maxsum" value="10" min="2" max="40">
      <br>
      <label for="n_questions">How many questions:</label>
      <input type="number" name="n_questions" value="20" min="1" max="50">
      <br>
      <input type="submit" value="Generate quiz">

    </form>

  </body>
</html>
