{% extends "base.html.j2" %}

{% block content %}
  <h1>Make a worksheet!</h1>
  {% for quiztype in types %}
  <a href="/?type={{ quiztype }}">{{ quiztype }}</a>
  {% endfor %}
  <form class="paramsform" action="/" method="post">
    {% for param in quiz.params %}
      <label for="{{ param['name'] }}">{{ param['label'] }}</label>
      <input type="number"
        name="{{ param['name'] }}"
        value="{{ param['default'] }}"
        min="{{ param['min'] }}"
        max="{{ param['max'] }}">
      <br>
    {% endfor %}
    <input type="hidden" name="quiztype" value="{{ quiz.name }}">
    <input type="submit" value="Generate worksheet">

  </form>
{% endblock %}
